<?xml version='1.0' encoding='utf-8'?>
<!-- com.technostrats.mumbaiparties -->
<widget id="com.kreaserv.kreaserv" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>kreaserv</name>
    <description>
        A basic Framework7 template for PhoneGap.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="android">
        <!-- 15 -->
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>

    <preference name="android-build-tool" value="gradle" />
    <preference name="DisallowOverscroll" value="true" />



    <icon src="www/img/icon.jpg" width="72" height="72" />
    <icon src="www/img/icon.jpg" width="48" height="48" />
    <icon src="www/img/icon.jpg" width="36" height="36" />


    
<!--     <preference name="fullscreen" value="false" />
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize"/> -->


    <!-- fixed version -->



    <plugin spec="https://github.com/leecrossley/cordova-plugin-directions.git#35b90f2" />
    <plugin spec="https://github.com/razorpay/razorpay-cordova.git#25de082" />
    <plugin spec="https://github.com/apache/cordova-plugin-network-information.git#09b46b2" />
    <plugin spec="https://github.com/apache/cordova-plugin-camera.git#d124e03" />
    <plugin spec="https://github.com/apache/cordova-plugin-file-transfer.git#a4031db" />

    <!-- v0.12.0 -->

    <plugin spec="https://github.com/Wizcorp/phonegap-facebook-plugin.git#v0.12.0">
        <param name="APP_ID" value="649298491886916" />
        <param name="APP_NAME" value="mumbai parties" />
    </plugin>

    <!-- <plugin name="com.phonegap.plugins.facebookconnect" source="pgb" spec="0.9.0">
        <param name="APP_ID" value="649298491886916" />
        <param name="APP_NAME" value="mumbai parties" />
    </plugin> -->

    <plugin name="cordova-plugin-social-message" spec="0.4.0" />
    <plugin name="cordova-plugin-console" spec="1.0.4" />
    <plugin name="cordova-plugin-statusbar" spec="1.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="1.2.2" /> 



<!-- current plugins -->
    
<!--     <plugin spec="https://github.com/leecrossley/cordova-plugin-directions.git" source="git"/>
    <plugin spec="https://github.com/razorpay/razorpay-cordova.git" />
    <plugin spec="https://github.com/apache/cordova-plugin-network-information.git#rel/1.2.1" />
    <plugin spec="https://github.com/apache/cordova-plugin-camera.git#rel/2.2.0" />
    <plugin spec="https://github.com/apache/cordova-plugin-file-transfer.git#rel/1.5.1" />
    <plugin name="com.phonegap.plugins.facebookconnect" source="pgb">
        <param name="APP_ID" value="649298491886916" />
        <param name="APP_NAME" value="mumbai parties" />
    </plugin>

    <plugin name="cordova-plugin-social-message" source="npm" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" /> -->


            <!-- old app id 908572929213032 -->
        <!-- old app name Mumbai Parties -->
        
         <!-- new app id 649298491886916 -->
         <!-- new app name mumbai parties -->

</widget>